<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename='functions.js')}}"></script>
</head>
<body>
<div class="container" style="align-items: center; text-align: left; margin-top: 3%;">
<div><a href="http://localhost:5000/dashboard">Go to Dashboard</a></div><br><br>
<form id="render_form" >
    <table  class="form-group" border="1" style="width:100%" id = "render_table">
        <tr><th>Key</th><th>Values</th></tr>
        <tr>
            <td><input class = "form-control" type="text" name="key_1.text" id="added_key" value="role" style="width: 100%;" readonly></td>
            <td><input class = "form-control" type="text" id="added_value" name="value_1.text" style="width: 100%;" value="course_registration" readonly></td>
        </tr>
        <tr>
            <td><input class = "form-control" type="text" name="key_2.text" id="added_key" value="nodeid" style="width: 100%;" readonly></td>
            <td><input class = "form-control" type="text" id="added_value" name="value_2.text" style="width: 100%;" value=""></td>
        </tr>
        <tr>
            <td><input class = "form-control" type="text" name="key_3.dropdown" id="added_key" value="batch" style="width: 100%;" readonly></td>
            <td>
                <select  class="form-control" id="options" name="value_3.dropdown" style= "width:100%">
                    {% for batch in batches %}
                    <option value={{batch}} type="text">{{batch}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td><input class = "form-control" type="text" name="key_4.dropdown" id="added_key" value="branch" style="width: 100%;" readonly></td>
            <td>
                <select  class="form-control" id="options" name="value_4.dropdown" style= "width:100%">
                    {% for branch in branches %}
                    <option value={{branch}} type="text">{{branch}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td><input class = "form-control" type="text" name="key_5.file" id="added_key" value="registration_form" style="width: 100%;" readonly></td>
            <td><input class = "form-control" type="file" id="added_value" name="value_5.file" style="width: 100%;"></td>
        </tr>
    </table>
    <button type="button" class="btn btn-success" onclick="addjob()">Insert Job</button>
</form> 
</div>        
</body>

</html>

