<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>File upload</title>
</head>

<body>
    <form action = "http://localhost:5000/dashboard" method = "POST" enctype = "multipart/form-data"> 
<label for="file_upload">Upload the file with conditions(name the file as conditions.py): </label>
<input type="file" id="file_upload" name="file" >
</br>
<input type="submit"/>
</form>
</body>
</html>
